matplotlib
easydict
opencv_contrib_python
torchvision
mmcv_full
numpy
torch
albumentations
termcolor
attrs
timm
scikit_image
scipy
Cython
tqdm
attr
ipython
mmcv
Pillow
PyYAML
thop

opencv-python
scikit-image
regex
nibabel
pandas
seaborn
h5py
natsort