matplotlib
easydict
opencv_contrib_python==4.2.0.32
torchvision
mmcv_full==1.2.7
numpy
torch
albumentations
termcolor
attrs
timm
scikit_image==0.17.2
scipy
Cython==0.29.23
tqdm
attr
ipython
mmcv
Pillow
PyYAML
thop==0.0.31-2005241907

opencv-python
scikit-image
regex
nibabel
pandas
seaborn
h5py
natsort